<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Return to Home</a>
    <h1>About</h1>
    <h3> Léna Mačka is a French illustrator and tattooer based in Lyon, France.<br>


 
        <br>
        In 2014, she joined a school of applied arts and built a dreamlike universe. Her character Pure was born. Everyone can identify with this blank and naked little man. It embodies simplicity and sensitivity. Its closed eyes invite the audience to make its interpretation. The delicacy of its features gives a poetic and childlike note to the illustrations.<br>
        
         
        <br>
        She offers introspective works, staging her questions — a genuine social therapy using her imagination and creativity.<br>
        
         
        <br>
        In 2017, Léna Mačka started a new activity, tattooing. After beginning at Biribi Tattoo in Lyon, she opened her studio in October 2020, Mačka Studio, located at 26 rue Lanterne in the 1st arrondissement of Lyon.<br>
        
         
        <br>
        By Jean-Baptiste Bourgeois.</h3>
</body>
</html>