<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Return to Home</a>
    <h1>Works</h1>
    <img src="/images/4.jpeg" alt="" class="image4" />
    <img src="/images/3.jpg"alt="" class="image3" />
    <img src="/images/1.png"alt="" class="image1" />
    <img src="/images/2.png"alt="" class="image2" />
</body>
</html>